* {
	box-sizing: border-box;
}

@import "susy";

$susy: (
	columns: 12,
	gutters: .4,
	global-box-sizing: border-box
);

$button-color: #de4d30;

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font: 18px/1.6em sans-serif;
	overflow-y: scroll;
	color: $text-color-dark;
	margin: 0;
}

.page-wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.to-do {
	max-width: 400px;
	margin: 50px auto;
	padding: 10px;
	h3 {
		margin: 0;
		text-align: center;
	}

	input[type="text"] {
		font: 18px/1.6em sans-serif;
		width: 100%;
		padding: 10px;
		border: 0 none;
		border-bottom: 1px solid #eee;
		outline: 0 none;
	}
	.btn-clear {
		cursor: pointer;
		width: 100%;
		font: 18px/1.6em sans-serif;
		border-radius: 3px;
		border: 0 none;
		padding: 10px;
		outline: 0 none;
		margin: 10px 0 0 0;
		background-color: $button-color;
		color: #fff;
		&:hover {
			background-color: darken($button-color, 5%);
		}
	}
}

.tasks {
	padding: 0;
	margin: 0;
	.task {
		@include clearfix;
		list-style: none;
		&:nth-child(odd) {
   			background-color: #f6f6f6;
		}
		input[type="checkbox"] {
			display: none;
		}
		label {
			cursor: pointer;
			display: block;
			width: 100%;
			padding: 10px;
		}
		.status-false {
			color: #202020;
		}
		.status-true {
			color: #bbb;
			text-decoration: line-through;
		}
	}
}